<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">

<div class="flight_search">
  <h1 class="title is-4">SEARCH HERE</h1>
  <div class="flight_details">
    <div class="trip_type">
      Trip
    </div>
    Passenger
    <div class="passenger_type">

    </div>
    Class
    <div class="class_type">

    </div>
  </div>
  <input type="text" placeholder="From">
  <input type="text" placeholder="To">
  <input type="date">
  <input type="date" placeholder="Date Returning">
  <input type="submit">
</div>
