.flight_search {
  overflow: hidden;
  background-color: lightblue;
  margin-top: 30px;
  /*    margin-left: 30px;*/
  /*    margin-right: 30px;*/
  padding: 10px 50px 40px 60px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Style the links inside the navigation bar */
.flight_search a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Style the search box inside the navigation bar */
.flight_search input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 280px;
}
.flight_search input[type=date] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 14px;
  width: 200px;
}
.flight_search input[type=submit] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 14px;
  width: 100px;
}
.flight_details{
  padding: 10px 10px 10px 10px
}
.trip_type{
  display: inline-block;
  padding-right: 30px;
}
.passenger_type{
  display: inline-block;
  padding-right: 30px;
}
.class_type{
  display: inline-block;
}
