<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-default" style="float: left; width: 100%">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header navbar-left">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Travelocity</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-left" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Flights <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Hotel</a></li>
        <li><a href="#">Cars</a></li>
        <li><a href="#">Packages</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

    <div class="navbar-header navbar-right">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">LOGIN</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>








<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">-->

<!--<div class="titlebar">-->
  <!--<a href="home.html">-->
    <!--<div class="title">-->
      <!--<img class="logo" src="logo.png">-->
    <!--</div>-->
  <!--</a>-->

  <!--<div class="menu">-->
    <!--<a href="hotel.html">-->
      <!--<button onclick="myFunction_hotels()" class="dropbtn button is-info">Hotels</button>-->
      <!--<div id="myDropdown_hotels" class="dropdown-content">-->
      <!--</div>-->
    <!--</a>-->

    <!--<a href="flight.html">-->
      <!--<button onclick="myFunction_flights()" class="dropbtn button is-info">Flights</button>-->
      <!--<div id="myDropdown_flights" class="dropdown-content">-->
      <!--</div>-->
    <!--</a>-->

    <!--<a href="cruises.html">-->
      <!--<button onclick="myFunction_cruises()" class="dropbtn button is-info">Cruises</button>-->
      <!--<div id="myDropdown_cruises" class="dropdown-content">-->
      <!--</div>-->
    <!--</a>-->

    <!--<a href="cars.html">-->
      <!--<button onclick="myFunction_cars()" class="dropbtn button is-info">Cars</button>-->
      <!--<div id="myDropdown_cars" class="dropdown-content">-->
      <!--</div>-->
    <!--</a>-->

    <!--<a href="packages.html">-->
      <!--<button onclick="myFunction_packages()" class="dropbtn button is-info">Packages</button>-->
      <!--<div id="myDropdown_packages" class="dropdown-content">-->
      <!--</div>-->
    <!--</a>-->

  <!--</div>-->
<!--</div>-->
