<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">

<div class="titlebar">
  <a href="home.html">
    <div class="title">
      <img class="logo" src="logo.png">
    </div>
  </a>

  <div class="menu">
    <a href="hotel.html">
      <button onclick="myFunction_hotels()" class="dropbtn button is-info">Hotels</button>
      <div id="myDropdown_hotels" class="dropdown-content">
      </div>
    </a>

    <a href="flight.html">
      <button onclick="myFunction_flights()" class="dropbtn button is-info">Flights</button>
      <div id="myDropdown_flights" class="dropdown-content">
      </div>
    </a>

    <a href="cruises.html">
      <button onclick="myFunction_cruises()" class="dropbtn button is-info">Cruises</button>
      <div id="myDropdown_cruises" class="dropdown-content">
      </div>
    </a>

    <a href="cars.html">
      <button onclick="myFunction_cars()" class="dropbtn button is-info">Cars</button>
      <div id="myDropdown_cars" class="dropdown-content">
      </div>
    </a>

    <a href="packages.html">
      <button onclick="myFunction_packages()" class="dropbtn button is-info">Packages</button>
      <div id="myDropdown_packages" class="dropdown-content">
      </div>
    </a>

  </div>
</div>
